<%= error_messages_for(f.object) %>

<p>
    <%= f.label(:question) %>
    <br>
    <%= f.text_area(:question) %>
</p>

<p>
    <%= f.label(:question_type) %>
    <%= f.select :question_type, ["Short Answer", "True/False", "Numeric", "Multiple Choice"], {:id => "type-selector"} %>
</p>

<div id="buttons-container"></div>
<div id="choices-container"></div>

<p>
        <% @question.choices&.each do |choice| %>
            <%= f.text_field :choices, 
                            name: 'thing[choices][]', 
                            value: choice %>
        <% end %>
</p>

<%= javascript_pack_tag "dynamic_choices" %>
