<%= error_messages_for(f.object) %>

<!-- Form for Create/Update a question. -->
<%= f.hidden_field(:preference_form_id, :value => form_id) %>

<div class="form-group">
  <%= f.label(:question) %>
  <br>
  <%= f.text_area(:question, class: "form-control", rows: "4") %>
  <%= f.label(:question_type) %>
  <br>
  <%= f.select(:question_type, ["Short Answer", "True/False", "Numeric", "Multiple Choice"], class: "form-control") %>
</div>

<!-- Form for adding choices -->
<div class="form-group" id="multiple-choice-form">
  <%= f.fields_for :choices do |choice| %>
    <%= render(:partial => "choice_fields", :locals => {:f => choice}) %>
  <% end %>

  <div class="links">
    <%= link_to_add_association("Add Choice", f, :choices, class: "btn btn-success") %>
  </div>
</div>

<%= javascript_pack_tag "dynamic_choices.js" %>

