<div class="d-flex justify-content-center">
  <!-- 1 -->
  <div class="form-check d-flex mx-4">
    <input type="radio" name="numeric-<%= question.id %>" class="form-check-input" disabled>
    <label class="form-check-label">1</label>
  </div>
  
  <!-- 2 -->
  <div class="form-check mx-4">
    <input type="radio" name="numeric-<%= question.id %>" class="form-check-input" disabled>
    <label class="form-check-label">2</label>
  </div>
  
  <!-- 3 -->
  <div class="form-check mx-4">
    <input type="radio" name="numeric-<%= question.id %>" class="form-check-input" disabled>
    <label class="form-check-label">3</label>
  </div>
  
  <!-- 4 -->
  <div class="form-check mx-4">
    <input type="radio" name="numeric-<%= question.id %>" class="form-check-input" disabled>
    <label class="form-check-label">4</label>
  </div>
  
  <!-- 5 -->
  <div class="form-check mx-4">
    <input type="radio" name="numeric-<%= question.id %>" class="form-check-input" disabled>
    <label class="form-check-label">5</label>
  </div>
</div>