<!-- Card layout for each question plus CRUD for each. -->
<div class="card mb-4">
  <!-- Card Header -->
  <div class="card-header d-flex justify-content-between">
    <h5><%= form.title %></h5>
    <div class="form-inline">
      <%= link_to("Form Settings", edit_preference_form_path(form), class: "btn btn-primary btn-sm ml-2") %>
      <%= link_to("Edit Questions", questions_path(:form_id => form.id), class: "btn btn-primary btn-sm ml-2") %>
      <%= link_to("Delete", delete_preference_form_path(form), class: "btn btn-danger btn-sm ml-2") %>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <% if form.active ==  TRUE %>
      <p>Status: Public</p>
    <% else %>
      <p>Status: Private</p>
    <% end %>
    <p class="card-title">Deadline: <%= form.deadline %></p>
    <p>Submissions: <%= form.submissions.length %></p>
  </div>
</div>