<!-- Form to Create/Edit a Profile -->
<div class="form-group">
        <%= f.label( :name, "Name:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:name, class: "col-md-6 form-control") %>
        <br>
        <%= f.label(:email, "Email:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:email, value: current_user.email, readonly: 'readonly', class: "col-md-6 form-control") %>
        <br>
        <%= f.label(:phonenumber, "Phonenumber:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:phonenumber, class: "col-md-6 form-control") %>
        <br>
        <%= f.label(:snapchat, "Snapchat:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:snapchat, class: "col-md-6 form-control") %>
        <br>
        <%= f.label(:instagram, "Instagram:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:instagram, class: "col-md-6 form-control") %>
        <br>
        <%= f.label(:facebook, "Facebook:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:facebook, class: "col-md-6 form-control") %>
        <br>
        <%= f.label(:twitter, "Twitter:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:twitter, class: "col-md-6 form-control") %>
        <br>
        <%= f.label(:ptanimal, "PTAnimal:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.select(:ptanimal, ["-", "The Collaborative Owl", "The Avoidant Turtle", "The Comprimising Fox", "The Competitive Shark", "The Acommodating Teddy Bear"], class: "form-control") %>
        <br>
        <%= f.label(:pttruecolors, "PTTrueColors:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.select(:pttruecolors, ["-", "Orange", "Gold", "Green", "Blue"], class: "form-control") %>
        <br>
        <%= f.label(:ptmyersbriggs, "PTMyersBriggs:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.select(:ptmyersbriggs, ["-", "INFP", "ENFP", "INFJ", "ENFJ", "INTJ", "ENTJ", "INTP", "ENTP", "ISFP", "ESFP", "ISTP", "ESTP", "ISFJ", "ESFJ", "ISTJ", "ESTJ"], class: "form-control") %>
        <br>
        <%= f.label(:enneagram, "Enneagram:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.select(:enneagram, ["-", "Reformer", "Helper", "Achiever", "Individualist", "Investigator", "Loyalist", "Enthusiast", "Challenger", "Peacemaker"], class: "form-control") %>
        <br>
        <%= f.label(:aboutme, "About Me:", class: "col-md-4 col-form-label") %>
        <br>
        <%= f.text_field(:aboutme, class: "col-lg-10 form-control") %>
        <br>
        <%= f.check_box(:gender, class: "checkbox") %> Check if M, leave blank if F
</div>