<%= link_to("Home", profiles_path(), class: "btn btn-primary") %>
<h1>Create a profile!</h1>

<hr class="mt-3"/>
<%= form_for(@profile) do |f| %>
    <div class="form-group">
        <%= f.label( :name, "Name:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:name, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:email, "Email:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:email, value: current_user.email, readonly: 'readonly', class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:phonenumber, "Phonenumber:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:phonenumber, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:snapchat, "Snapchat:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:snapchat, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:instagram, "Instagram:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:instagram, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:facebook, "Facebook:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:facebook, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:twitter, "Twitter:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:twitter, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:ptanimal, "PTAnimal:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:ptanimal, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:pttruecolors, "PTTrueColors:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:pttruecolors, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:ptmyersbriggs, "PTMyersBriggs:", class: "col-md-4 col-form-label") %>
        <div class="col-md-6">
            <%= f.text_field(:ptmyersbriggs, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label(:aboutme, "About Me:", class: "col-md-4 col-form-label") %>
        <div class="col-lg-10">
            <%= f.text_field(:aboutme, class: "form-control") %>
        </div>
    </div>
    <div class="checkbox">
        <%= f.check_box(:gender) %> Check if M, leave blank if F
    </div>
    <%= f.hidden_field(:approvedchair, value: false) %>
    <%= f.hidden_field(:user_id, value: current_user.id) %>
    <%= f.submit("Create Profile", class: "btn btn-success") %>
<% end %>