<%= link_to("Home", profiles_path(), class: "btn btn-primary") %>
<h1>Create a profile!</h1>
<% flash.each do |key, value| %>
			<div class="flash-notice <%= key %>"><%= value %></div>
<% end %>

<hr class="mt-3"/>
<%= form_for(@profile) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>
    <%= f.submit("Create Profile", class: "btn btn-success") %>
<% end %>