
<style>
	.card {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 25px;
		width: 500px;
		opacity: 0.75;
		background-repeat: no-repeat;
		background-color: maroon;
		border: 20px solid rgba(0, 0, 0, 0.2);
	}
	#card-button {
			border: 4px solid rgba(0, 0, 0, 0.2);
	}
	#home-button{
		opacity: 0.75;
		border: 4px solid rgba(0, 0, 0, 0.2);
		margin:5px;
	}
	#edit-button{
		opacity: 0.75;
		border: 4px solid rgba(0, 0, 0, 0.2);
		margin:5px;

	}
	#delete-button{
		opacity: 0.75;
		border: 4px solid rgba(0, 0, 0, 0.2);
		margin:5px;
	}
	body {
		background-color: wheat;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.about-me {
		max-width: 250px;
	}
</style>
<div class = "mt-4">
	<button onclick="goBack()" id = "card-button" class = "btn btn-sm" style = "background-color: Peru; color: SeaShell; opacity: 0.85;"> < Back </button>
</div> 
<script>
	function goBack() {
	  window.history.back();
	}
</script>

<div class="profile show">

<div class="card text-white mb-3" margin:20px;">
	<div class="card-body">
		<% if current_user.email.eql? @profile.email %>
			<h3 class="card-title">Your Profile</h3>
			<p class="card-text">Feel free to update any information.</p>
		<%else%>
			<h3> <%= @profile.name %> </h3>
		<% end %>
		<table summary="Profile view">
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>Email</th>
			  <td><%= @profile.email %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%; opacity: 0.9;"></th></tr>
			<tr>
			  <th>Phone Number &nbsp; </th>
			  <td><%= @profile.phonenumber %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>Snapchat</th>
			  <td><%= @profile.snapchat %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>Instagram</th>
			  <td><%= @profile.instagram %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>Facebook</th>
			  <td><%= @profile.facebook %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>Twitter</th>
			  <td><%= @profile.twitter %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th> Animal</th>
			  <td><%= @profile.ptanimal %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th> True Colors</th>
			  <td><%= @profile.pttruecolors %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>Myers Briggs</th>
			  <td><%= @profile.ptmyersbriggs %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>Enneagram</th>
			  <td><%= @profile.enneagram %></td>
			</tr>
			<tr><th><hr style = "border: 1px solid brown; width: 340%;opacity: 0.9;"></th></tr>
			<tr>
			  <th>About Me</th>
			  <td class = "about-me"><%= @profile.aboutme %></td>
			</tr>
		</table>
	</div>					
</div>

<br>
&emsp;
<% if current_user.id.eql? @profile.user_id %>
	<div id="edit-button" class="btn btn-sm" style="background-color:Peru"> <%= link_to("Edit", edit_profile_path(@profile), :class => "btn", style: "color:SeaShell") %></div>
<%end%>
<br>
