<!-- Renders the delete form -->
<div class="container-x1">
    <h2 class="my-4">Delete Response</h2>
    <%= form_for(@answer, :method => 'delete') do |f| %>
        <!-- Saves the preference_form_id to be passed to redirect -->
        <%= f.hidden_field(:form_id, value: @answer.preference_form_id) %>

        <!-- Final deletion warning -->
        <p> Are you sure that you wish to permanently delete your response to question: <b><%= @question.question %></b></p>
        <!-- Delete and back buttons -->
        <%= link_to("Back", answers_path(:user_id => current_user.id, :form_id => @answer.preference_form_id), class: "btn btn-secondary mt-2 mb-4") %>
        <%= f.submit("Delete Response", class: "btn btn-danger mt-2 mb-4") %>
    <% end %>
</div>