
<h1 class="heading">Fish Camp: Partner Preference Form</h1>
<p class="notice"><%= flash[:notice] %></p>

<table class="questions-table">
    <thead>
    <tr>
        <th class="index">Number</th>
        <th>Question</th>
        <th>Preview</th>
        <th class="actions">Actions</th>
    </tr>
    </thead>
    
    <tbody>
    <% row_num = 0 %>
    <% @questions.each do |question| %>
    <% row_num = row_num + 1 %>
    <tr>
        <td class="index"><%= row_num %></td>
        <td><%= question.question %></td>
        <td>
            <%= get_answer_preview(question) %>
        </td>
        <td class="actions">
            <% if @answers.exists?(:question_id => question.id) %>
                <% answer = @answers.where(:question_id => question.id).first %>
                <%= link_to("Edit", edit_answer_path(answer, :question_id => question.id)) %>
                <%= link_to("Delete Response", delete_answer_path(answer, :question_id => question.id)) %>
            <% else %>
                <%= link_to("Add Response", new_answer_path(:question_id => question.id)) %>
            <% end %>
        </td>
    </tr>
    <% end %>
    </tbody>

</table>

<%= link_to("Next Page", preferences_path) %>