<h1 class="heading">Fish Camp: Partner Preference Form</h1>
<p class="notice"><%= flash[:notice] %></p>

<p>Write preference instructions here...</p>

<h3>Preferences</h3>
<table class="questions-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Rating</th>
        <th>Why</th>
        <th class="actions">Actions</th>
    </tr>
    </thead>
    
    <tbody>
    <% @prefs.each do |pref| %>
    <tr>
        <td><%= @users.where(:id => pref.selected_id).first.email %></td>
        <td><%= pref.pref_type %></td>
        <td><%= pref.rating %></td>
        <td><%= pref.why %></td>
        <td class="actions">
            <%= link_to("Edit", edit_preference_path(pref)) %>
            <%= link_to("Delete Response", delete_preference_path(pref)) %>
        </td>
    </tr>
    <% end %>

    <% @antiprefs.each do |anti| %>
    <tr>
        <td><%= @users.where(:id => anti.selected_id).first.email %></td>
        <td><%= anti.pref_type %></td>
        <td><%= anti.rating %></td>
        <td><%= anti.why %></td>
        <td class="actions">
            <%= link_to("Edit", edit_preference_path(anti)) %>
            <%= link_to("Delete Response", delete_preference_path(anti)) %>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>

<% if @prefs.where(:pref_type => "Preference").size < @form.num_prefs %>
    <%= link_to("Add Preference", new_preference_path(:pref_type => "Preference")) %>
    </br>
<% end %>
<% if @antiprefs.where(:pref_type => "Anti-Preference").size < @form.num_antiprefs %>
    <%= link_to("Add Anti-Preference", new_preference_path(:pref_type => "Anti-Preference")) %>
    </br>
<% end %>

<%= link_to("Go Back", answers_path) %>
<%= link_to("Submit Form", preference_path(@prefs)) %>