
<style> 
	.center {
	  margin: 0 auto;
	  width: 80%;
	  padding: 10px;
	}
	.card {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		width: 250px;
		opacity: 0.75;
		background-repeat: no-repeat;
		background-color: maroon;
		color: white;
		border: 20px solid rgba(0, 0, 0, 0.2);
	}
	#card-button {
		opacity: 0.95;
		border: 4px solid rgba(0, 0, 0, 0.2);
	}
	h3.centered {
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 40px;
		width: 25em;
	}

	h1.margined {
		padding-top: 40px;
		padding-bottom: 40px;
	}	
	body {
		background-color: wheat;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>

<div class = "container-fluid" style="font-family:Georgia">
	<% flash.each do |key, value| %>
		<div class="flash-notice <%= key %>"><%= value %></div>
	 <% end %>
	<br>
	<h2 style = "text-align:center; margin-top: 45px;"><b>Your Type: <%= @userProfile.ptanimal %></b></h2>
	<br>
	<hr style = "border: 1px solid black; width: 85%;">
	<br>
	<h3 class = "margined" style = "text-align: center; margin-bottom:75px;"><%= @message %> </h3>
</div>


<div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class = "text-center">
							<div id = "card-button" class="btn btn-sm" style="background-color: maroon; color: white;"><h4> User with same type:  </h4></div>
							<table class="listing" summary="Same Type List">
								<% @sameCM.each do |same| %>
									<div class="card-body">
										<hr style = "border: 1px solid brown; width: 100%; opacity: 0.9;">
										<%= link_to("View Profile", profile_path(same), :class => "btn", style: "color: white; font-weight: bold;") %>
										<h5 class="card-title"><%= same.name%></h5>
										<p class="card-text"><%= same.ptanimal %></p>
										<div class="btn btn-secondary btn-sm"> <%= link_to("View Profile", profile_path(same), :class => "btn", style: "color: white") %></div>
									</div>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class = "text-center">
							<div id = "card-button" class="btn btn-sm" style="background-color: maroon; color: white;"><h4>Profiles with opposite type: </h4></div>
							<table class="listing" summary="Opposite Type List">
								<% @oppositeMatches.each do |opposite| %>
									
									<hr style = "border: 1px solid brown; width: 100%; opacity: 0.9;">
									<%= link_to(opposite.name, profile_path(opposite), :class => "btn", style: "color: white; font-weight: bold") %>
									<p class="card-text"><%= opposite.ptanimal %></p>
									
								<% end %>
							<hr style = "border: 1px solid brown; width: 100%; opacity: 0.9;">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<br><br>
	<div class="btn btn-secondary btn-sm"> <%= link_to("Home", personalities_path, :class => "btn", style: "color: white;") %></div>
	<br><br>
	
</div>


