<p> <%= link_to("Home", personalities_path) %> </p>

<h3> Hello! This page will display the users who are the ideal match for your enneagram personality type!</h3>

<h1>Your type is: <%= @userProfile.enneagram %></h1>

<h1> Ideal matches: </h1>
<table class="listing" summary="Ideal matches list">
    <% @bestMatches.each do |bestMatch| %>
        <div class="card-body">
			<h5 class="card-title"><%= bestMatch.name%></h5>
				<p class="card-text"><%= bestMatch.enneagram %></p>
				<div class="btn btn-secondary btn-sm"> <%= link_to("View Profile", profile_path(bestMatch), :class => "btn", style: "color: white") %></div>
		</div>
    <% end %>
</table>