
<style> 
	.card {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			width: 400px;
			opacity: 0.75;
			background-repeat: no-repeat;
			background-color: maroon;
			border: 20px solid rgba(0, 0, 0, 0.2);
			font-family: Georgia;
		}
	#card-button {
			border: 4px solid rgba(0, 0, 0, 0.2);
	}
	body {
		background-color: wheat;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#card-button {
			border: 4px solid rgba(0, 0, 0, 0.2);
	}
</style>

<div class = "mt-4">
	<button onclick="goBack()" id = "card-button" class = "btn btn-sm" style = "background-color: Peru; color: SeaShell; opacity: 0.85;"> < Back </button>
</div> 
<script>
	function goBack() {
	  window.history.back();
	}
</script>
	
<div class = "container-fluid" style="font-family:Georgia">
	<% flash.each do |key, value| %>
		<div class="flash-notice <%= key %>"><%= value %></div>
	 <% end %>
	<br>
	<h2 style = "text-align:center; margin-top: 45px;"><b>Your Enneagram Type: <%= @userProfile.enneagram %></b></h2>
	<br>
	<hr style = "border: 1px solid black; width: 85%;">
	<br>
	<h3 class = "margined" style = "text-align: center; margin-bottom:75px;"> Below, you will find chairs who are the ideal
	match for your enneagram personality type.</h3>
</div>

<div class = "d-flex justify-content-center">
	<div class="card text-center text-white mb-3">
		<div class="card-body">
			<div id = "card-button" class="btn btn-sm" style="background-color: maroon; color: white;"><h4><%= @m %></h4></div>
			<table class="listing" summary="Ideal matches list">
				<% @bestMatches.each do |bestMatch| %>
						<hr style = "border: 1px solid brown; width: 100%; opacity: 0.9;">
						<%= link_to(bestMatch.name, profile_path(bestMatch), :class => "btn", style: "color: white; font-weight: bold;") %>
							<p class="card-text"><%= bestMatch.enneagram %></p>
				<% end %>
				<hr style = "border: 1px solid brown; width: 100%; opacity: 0.9;">
			</table>
		</div>
		</div>
	</div>
</div> 


<!------------------------------------------------------------------>
