<h1>Welcome to the personalities page!</h1>
<h3> Each of the links below will lead to a page where you can view the profiles of other users who have the best possible match for your personality type! </h3>

<% flash.each do |key, value| %>
	<div class="flash-notice <%= key %>"><%= value %></div>
<% end %>

<p> <%= link_to("Myers Briggs", "personalities/myersBriggs") %> </p>
<p> <%= link_to("Conflict Management", "personalities/conflictManagementFox") %> </p>
<p> <%= link_to("True Colors", "personalities/trueColors") %> </p>
<p> <%= link_to("Enneagram", "personalities/enneagram") %> </p>