<p> <%= link_to("Home", personalities_path) %> </p>

<h3> Hello! This page will display all the chairs who have filled out the True Colors test and displayed it on their profile, categorized by color </h3>

<h1> Users who have the same color as you (<%= @userProfile.pttruecolors %>): </h1>
<table class="listing" summary="Ideal matches list">
    <% @sameProfiles.each do |same| %>
        <div class="card-body">
			<h5 class="card-title"><%= same.name%></h5>
				<p class="card-text"><%= same.pttruecolors %></p>
				<div class="btn btn-secondary btn-sm"> <%= link_to("View Profile", profile_path(same), :class => "btn", style: "color: white") %></div>
		</div>
    <% end %>
</table>

<h1> Users who are <%= @otherProfiles1color %>: </h1>
<table class="listing" summary="Other Colors 1">
    <% @otherProfiles1.each do |otherColor1| %>
        <div class="card-body">
			<h5 class="card-title"><%= otherColor1.name%></h5>
				<p class="card-text"><%= otherColor1.pttruecolors %></p>
				<div class="btn btn-secondary btn-sm"> <%= link_to("View Profile", profile_path(otherColor1), :class => "btn", style: "color: white") %></div>
		</div>
    <% end %>
</table>

<h1> Users who are <%= @otherProfiles2color %>: </h1>
<table class="listing" summary="Other Colors 2">
    <% @otherProfiles2.each do |otherColor2| %>
        <div class="card-body">
			<h5 class="card-title"><%= otherColor2.name%></h5>
				<p class="card-text"><%= otherColor2.pttruecolors %></p>
				<div class="btn btn-secondary btn-sm"> <%= link_to("View Profile", profile_path(otherColor2), :class => "btn", style: "color: white") %></div>
		</div>
    <% end %>
</table>

<h1> Users who are <%= @otherProfiles3color %>: </h1>
<table class="listing" summary="Other Colors 3">
    <% @otherProfiles3.each do |otherColor3| %>
        <div class="card-body">
			<h5 class="card-title"><%= otherColor3.name%></h5>
				<p class="card-text"><%= otherColor3.pttruecolors %></p>
				<div class="btn btn-secondary btn-sm"> <%= link_to("View Profile", profile_path(otherColor3), :class => "btn", style: "color: white") %></div>
		</div>
    <% end %>
</table>