<div class="card">
  <div class="card-header d-flex flex-row justify-content-between">
    <div>
      <h2><%= @selector.name %></h2>
      <% if @match.matched_id != nil %>
        <h6>Partner: <%= @profiles.where(user_id: @match.matched_id).first.name %>
      <% else %>
        <h6>Partner: N/A</h6>
      <% end %>        
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <!-- Personality Test Results -->
    <li class="list-group-item">
      <h4 class="mb-3">Personality Tests</h4>
      <h6>Conflict Animal: <%= @selector.ptanimal.nil? ? "N/A" : @selector.ptanimal %></h6>
      <h6>True Colors: <%= @selector.pttruecolors.nil? ? "N/A" : @selector.pttruecolors %></h6>
      <h6>Myers Briggs: <%= @selector.ptmyersbriggs.nil? ? "N/A" : @selector.ptmyersbriggs %></h6>
      <h6>Enneagram: <%= @selector.enneagram.nil? ? "N/A" : @selector.enneagram %></h6>
    </li>

    <!-- Preferences -->
    <li class="list-group-item">
      <h4 class="mb-3">Preferences</h4>
      <% @selector_preferences.each do |preference| %>
        <div class="form-inline">
          <h6><%= @profiles.where(user_id: preference.selected_id).first.name %></h6>
          <h6 class="text-primary ml-2"><%= preference.rating %></h6>
        </div>
        <p> <%= preference.why %> </p>
      <% end %>
    </li>

    <!-- Anti-Preferences -->
    <li class="list-group-item">
      <h4 class="mb-3">Anti-Preferences</h4>
      <% @selector_anti_preferences.each do |anti_preference| %>
        <div class="form-inline">
          <h6 class="text-danger"><%= @profiles.where(user_id: anti_preference.selected_id).first.name %></h6>
        </div>
        <p><%= anti_preference.why %></p>
      <% end %>
    </li>

    <!-- Responses -->
    <li class="list-group-item">
      <h4 class="mb-3">Responses</h4>
      <% question_num = 1 %>
      <% @questions.each do |question| %>
        <h6><%= question_num %>. <%= question.question %></h6>
        <p><%= get_answer(@selector_answers.where(question_id: question.id).first) %></p>
        <% question_num = question_num + 1 %>
      <% end %>
    </li>
  </ul>
</div>