<!DOCTYPE html>

<html>
  <head>
    <title>FishCampPartnershipMatcher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: maroon; opacity: 0.75">
        <a class="navbar-brand" href=<%= profiles_path() %>>Fish Camp</a>
        <% if signed_in? %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <%= link_to("Create Form", preference_forms_path, class: "nav-link") %>
              <%= link_to("Forms", public_forms_path, class: "nav-link") %>
              <%= link_to("Profiles", profiles_path, class: "nav-link") %>
              <% if current_user.has_role? :director %>
                <%= link_to("Matching", matches_path, class: "nav-link") %>
              <% end %>
              <% if current_user.has_role? :chair %>
                <%= link_to("Personalities", personalities_path, class: "nav-link") %>
                <% Profile.all.each do |profile| %>
                  <% @created = false %>
                  <% if current_user.email.eql? profile.email %>
                    <%= link_to("View Your Profile", profile_path(profile), :class => "btn", class: "nav-link") %>
                    <% @created = true %>
                  <% end %>
                <% end %>
                <% if @created.eql? false %>
                  <%= link_to("Create New Profile", new_profile_path, :class => "btn", class: "nav-link") %><br/>
                <% end %>
              <% end %>
            </ul>
            <form class="form-inline d-flex my-2 my-lg-0">
              <% if signed_in? %>
                  <div class="text-white"><%= current_user.email %></div>
                  <%= link_to "Sign out", sign_out_path, method: :delete, class: "btn btn-light btn-sm ml-2" %>
              <% end %>
            </form>
          </div>
        <% end %>
      </nav>
    </header>
    <!--
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    -->
    <div class="container-xl">
      <%= yield %>
    </div>
  </body>
</html>
